---
name: Release

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - main

jobs:
  default:
    # yamllint disable-line rule:line-length
    uses: Hapag-Lloyd/Workflow-Templates/.github/workflows/default_release_callable.yml@6d5bdbddaed1eae314f3d5bde426a594c9409b75 # 1.26.0
    secrets: inherit
